@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Hindi&display=swap');

header, footer {
    background-color: rgb(107, 32, 24);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0%;
    z-index: 20;
}

.logo{
    border-radius: 10px;
}


nav ul{
    font-family: 'Roboto', sans-serif;
    display: flex;
}

li{
    list-style-type: none;
    padding: 40px 20px 40px 20px;
}

a{
    font-family: 'Roboto', sans-serif;
}

.origenes{
    background-color: rgba(255, 250, 205, 0.642);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    padding: 20px 50px 20px 402px;
    font-family: 'Tiro Devanagari Hindi', serif;
}

h2{
    font-family:  'Roboto', sans-serif;
    padding: 15px 90px 15px 260px;
    border: 10px double;
    margin: 10px 15px 10px 15px;
    color: rgb(13, 12, 8);
}


a{
    text-decoration: none;
    color: black;
    font-size: large;
}

section article{
    background-color: rgba(255, 250, 205, 0.842);
    text-align: center;
    font-family:  'Tiro Devanagari Hindi', serif;
}

h3{
    font-size: large;
    font-family:  'Plus Jakarta Sans', sans-serif;
    text-align: center;
    letter-spacing: 1px;
    color: darkgreen
}

h4{
    font-size: larger;
    font-family:  'Roboto', sans-serif;
    text-align: center;
}

p{
    font-size: medium;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    letter-spacing: 1px;
}

img{
    border-radius: 1cm;
    border: none 10px;
}

body{
    background-color: beige;
    background-image: url("../img/logo\ gold.png");
    background-size: 600px;
}

.pagina{
    display: flex;
    flex-direction: row;   
    justify-content: space-evenly;
}
